@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1040' height='560' preserveAspectRatio='none' viewBox='0 0 1040 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1046%26quot%3b)' fill='none'%3e%3crect width='1040' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='187.71' cy='550.42' stroke='%23d3b714' stroke-width='2.05' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1047%26quot%3b)' x='-44.27' y='-40.41' fill='url(%26quot%3b%23SvgjsPattern1048%26quot%3b)' transform='rotate(225.82%2c 33.73%2c 37.59)'%3e%3c/rect%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1049%26quot%3b)' x='360.77' y='398.93' fill='url(%26quot%3b%23SvgjsPattern1050%26quot%3b)' transform='rotate(278.28%2c 504.77%2c 542.93)'%3e%3c/rect%3e%3crect width='164.64' height='164.64' clip-path='url(%26quot%3b%23SvgjsClipPath1051%26quot%3b)' x='931.18' y='424.01' fill='url(%26quot%3b%23SvgjsPattern1052%26quot%3b)' transform='rotate(248.45%2c 1013.5%2c 506.33)'%3e%3c/rect%3e%3crect width='240' height='240' clip-path='url(%26quot%3b%23SvgjsClipPath1053%26quot%3b)' x='549.73' y='186.68' fill='url(%26quot%3b%23SvgjsPattern1054%26quot%3b)' transform='rotate(82.23%2c 669.73%2c 306.68)'%3e%3c/rect%3e%3ccircle r='86.77672316952565' cx='223.38' cy='14.25' stroke='%23d3b714' stroke-width='1.43' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1055%26quot%3b)' x='-39.24' y='149.6' fill='url(%26quot%3b%23SvgjsPattern1056%26quot%3b)' transform='rotate(254.17%2c 104.76%2c 293.6)'%3e%3c/rect%3e%3crect width='118.80000000000001' height='118.80000000000001' clip-path='url(%26quot%3b%23SvgjsClipPath1057%26quot%3b)' x='316.75' y='-57.87' fill='url(%26quot%3b%23SvgjsPattern1058%26quot%3b)' transform='rotate(195.42%2c 376.15%2c 1.53)'%3e%3c/rect%3e%3crect width='335.92' height='335.92' clip-path='url(%26quot%3b%23SvgjsClipPath1059%26quot%3b)' x='854.03' y='-129.27' fill='url(%26quot%3b%23SvgjsPattern1060%26quot%3b)' transform='rotate(280.58%2c 1021.99%2c 38.69)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1046'%3e%3crect width='1040' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='156' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1048'%3e%3crect width='156' height='3' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='156' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1047'%3e%3ccircle r='39' cx='33.73' cy='37.59'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1050'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1049'%3e%3ccircle r='72' cx='504.77' cy='542.93'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='164.64' height='13.72' patternUnits='userSpaceOnUse' id='SvgjsPattern1052'%3e%3crect width='164.64' height='6.86' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='164.64' height='6.86' x='0' y='6.86' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1051'%3e%3ccircle r='41.16' cx='1013.5' cy='506.33'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='240' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1054'%3e%3crect width='240' height='3' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='240' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1053'%3e%3ccircle r='60' cx='669.73' cy='306.68'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1056'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1055'%3e%3ccircle r='72' cx='104.76' cy='293.6'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.9' height='9.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1058'%3e%3cpath d='M0 9.9L4.95 0L9.9 9.9' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1057'%3e%3ccircle r='29.700000000000003' cx='376.15' cy='1.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.84' height='8.84' patternUnits='userSpaceOnUse' id='SvgjsPattern1060'%3e%3cpath d='M0 8.84L4.42 0L8.84 8.84' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1059'%3e%3ccircle r='83.98' cx='1021.99' cy='38.69'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1040' height='560' preserveAspectRatio='none' viewBox='0 0 1040 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='1040' height='560' x='0' y='0' fill='rgba(33%2c 38%2c 44%2c 1)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='187.71' cy='550.42' stroke='%23d3b714' stroke-width='2.05' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1062%26quot%3b)' x='-44.27' y='-40.41' fill='url(%26quot%3b%23SvgjsPattern1063%26quot%3b)' transform='rotate(225.82%2c 33.73%2c 37.59)'%3e%3c/rect%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1064%26quot%3b)' x='360.77' y='398.93' fill='url(%26quot%3b%23SvgjsPattern1065%26quot%3b)' transform='rotate(278.28%2c 504.77%2c 542.93)'%3e%3c/rect%3e%3crect width='164.64' height='164.64' clip-path='url(%26quot%3b%23SvgjsClipPath1066%26quot%3b)' x='931.18' y='424.01' fill='url(%26quot%3b%23SvgjsPattern1067%26quot%3b)' transform='rotate(248.45%2c 1013.5%2c 506.33)'%3e%3c/rect%3e%3crect width='240' height='240' clip-path='url(%26quot%3b%23SvgjsClipPath1068%26quot%3b)' x='549.73' y='186.68' fill='url(%26quot%3b%23SvgjsPattern1069%26quot%3b)' transform='rotate(82.23%2c 669.73%2c 306.68)'%3e%3c/rect%3e%3ccircle r='86.77672316952565' cx='223.38' cy='14.25' stroke='%23d3b714' stroke-width='1.43' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1070%26quot%3b)' x='-39.24' y='149.6' fill='url(%26quot%3b%23SvgjsPattern1071%26quot%3b)' transform='rotate(254.17%2c 104.76%2c 293.6)'%3e%3c/rect%3e%3crect width='118.80000000000001' height='118.80000000000001' clip-path='url(%26quot%3b%23SvgjsClipPath1072%26quot%3b)' x='316.75' y='-57.87' fill='url(%26quot%3b%23SvgjsPattern1073%26quot%3b)' transform='rotate(195.42%2c 376.15%2c 1.53)'%3e%3c/rect%3e%3crect width='335.92' height='335.92' clip-path='url(%26quot%3b%23SvgjsClipPath1074%26quot%3b)' x='854.03' y='-129.27' fill='url(%26quot%3b%23SvgjsPattern1075%26quot%3b)' transform='rotate(280.58%2c 1021.99%2c 38.69)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='1040' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='156' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1063'%3e%3crect width='156' height='3' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='156' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1062'%3e%3ccircle r='39' cx='33.73' cy='37.59'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1065'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1064'%3e%3ccircle r='72' cx='504.77' cy='542.93'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='164.64' height='13.72' patternUnits='userSpaceOnUse' id='SvgjsPattern1067'%3e%3crect width='164.64' height='6.86' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='164.64' height='6.86' x='0' y='6.86' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1066'%3e%3ccircle r='41.16' cx='1013.5' cy='506.33'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='240' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1069'%3e%3crect width='240' height='3' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='240' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1068'%3e%3ccircle r='60' cx='669.73' cy='306.68'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1071'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1070'%3e%3ccircle r='72' cx='104.76' cy='293.6'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.9' height='9.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1073'%3e%3cpath d='M0 9.9L4.95 0L9.9 9.9' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1072'%3e%3ccircle r='29.700000000000003' cx='376.15' cy='1.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.84' height='8.84' patternUnits='userSpaceOnUse' id='SvgjsPattern1075'%3e%3cpath d='M0 8.84L4.42 0L8.84 8.84' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1074'%3e%3ccircle r='83.98' cx='1021.99' cy='38.69'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1040' height='560' preserveAspectRatio='none' viewBox='0 0 1040 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1040' height='560' x='0' y='0' fill='rgba(13%2c 17%2c 23%2c 1)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='187.71' cy='550.42' stroke='%23d3b714' stroke-width='2.05' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1016%26quot%3b)' x='-44.27' y='-40.41' fill='url(%26quot%3b%23SvgjsPattern1017%26quot%3b)' transform='rotate(225.82%2c 33.73%2c 37.59)'%3e%3c/rect%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1018%26quot%3b)' x='360.77' y='398.93' fill='url(%26quot%3b%23SvgjsPattern1019%26quot%3b)' transform='rotate(278.28%2c 504.77%2c 542.93)'%3e%3c/rect%3e%3crect width='164.64' height='164.64' clip-path='url(%26quot%3b%23SvgjsClipPath1020%26quot%3b)' x='931.18' y='424.01' fill='url(%26quot%3b%23SvgjsPattern1021%26quot%3b)' transform='rotate(248.45%2c 1013.5%2c 506.33)'%3e%3c/rect%3e%3crect width='240' height='240' clip-path='url(%26quot%3b%23SvgjsClipPath1022%26quot%3b)' x='549.73' y='186.68' fill='url(%26quot%3b%23SvgjsPattern1023%26quot%3b)' transform='rotate(82.23%2c 669.73%2c 306.68)'%3e%3c/rect%3e%3ccircle r='86.77672316952565' cx='223.38' cy='14.25' stroke='%23d3b714' stroke-width='1.43' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='288' height='288' clip-path='url(%26quot%3b%23SvgjsClipPath1024%26quot%3b)' x='-39.24' y='149.6' fill='url(%26quot%3b%23SvgjsPattern1025%26quot%3b)' transform='rotate(254.17%2c 104.76%2c 293.6)'%3e%3c/rect%3e%3crect width='118.80000000000001' height='118.80000000000001' clip-path='url(%26quot%3b%23SvgjsClipPath1026%26quot%3b)' x='316.75' y='-57.87' fill='url(%26quot%3b%23SvgjsPattern1027%26quot%3b)' transform='rotate(195.42%2c 376.15%2c 1.53)'%3e%3c/rect%3e%3crect width='335.92' height='335.92' clip-path='url(%26quot%3b%23SvgjsClipPath1028%26quot%3b)' x='854.03' y='-129.27' fill='url(%26quot%3b%23SvgjsPattern1029%26quot%3b)' transform='rotate(280.58%2c 1021.99%2c 38.69)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1040' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='156' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1017'%3e%3crect width='156' height='3' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='156' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1016'%3e%3ccircle r='39' cx='33.73' cy='37.59'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1019'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1018'%3e%3ccircle r='72' cx='504.77' cy='542.93'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='164.64' height='13.72' patternUnits='userSpaceOnUse' id='SvgjsPattern1021'%3e%3crect width='164.64' height='6.86' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='164.64' height='6.86' x='0' y='6.86' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1020'%3e%3ccircle r='41.16' cx='1013.5' cy='506.33'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='240' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1023'%3e%3crect width='240' height='3' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='240' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1022'%3e%3ccircle r='60' cx='669.73' cy='306.68'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1025'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1024'%3e%3ccircle r='72' cx='104.76' cy='293.6'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.9' height='9.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1027'%3e%3cpath d='M0 9.9L4.95 0L9.9 9.9' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1026'%3e%3ccircle r='29.700000000000003' cx='376.15' cy='1.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.84' height='8.84' patternUnits='userSpaceOnUse' id='SvgjsPattern1029'%3e%3cpath d='M0 8.84L4.42 0L8.84 8.84' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1028'%3e%3ccircle r='83.98' cx='1021.99' cy='38.69'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e"); */
  background-color: black;
  width: 100vw;
  height: 100vh;
  touch-action: [pan-x pan-y];
}
*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active{
  background-color: #9014d3;
}

.dragging_matrix{
  border: 5px dashed aliceblue!important;
}

textarea.classic{
  border-width: 0px !important;
  border-radius: 3px;
  font-family: 'Roboto Mono';
  min-width: 50px;
  background: #1e1929;
  color: white;
  padding: 5px;
  font-family: 'Roboto';
  font-size: large;
} 

.tippy_div{
  background: #111b24;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: small;
  font-family: monospace;
  font-weight: 500;
  display: grid;
}
.tippy_div_mh{
  background: #111b24;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: small;
  font-family: monospace;
  font-weight: 500;
  display: grid;
  max-height:50vh;
}

.tippy_div > .title{
  border-bottom: 1px solid grey;
}


.or_btn{
  background: #4d4dc2;
  font-size: large;
  padding: 0 10px;
  border-radius: 3px;
  justify-self: center;
}


p.options:hover {
  background: #21262d;
  /* padding: 5px; */
  margin: 0;
}

p.options {
  margin: 0;
  padding: 8px;
  display: grid;
  align-items: center;
  position: relative;
}

#zoom_div{
  position: absolute;
  top: 2.5;
  color: white;
  font-family: monospace;
  font-weight: 600;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid #373f49;
  width: 100%;
  background: #262c35;
  align-items: center;
}

#MatrixPage{
  position: fixed;
  top: 4.5rem;
  left: 0;
  bottom: 0rem;
  right: 0px;
  overflow: auto;
}

.matrix_err_text{
  color: whitesmoke;
  font-weight: 500;
  font-family: monospace;
  font-size: medium;
  max-width: 40vw;
  display: block;
}




::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #bebfc0;
  border-radius: 10px;
}

.my-validation-message::before {
  display: none!important;
}

::-webkit-scrollbar-track {
  background: #1e1929;
  border-radius: inherit;
}

.new_matrix{
  border:3px dashed white!important;
}

div:where(.swal2-container).swal2-center>.swal2-popup {

  background: #171a20;
  color: white;
  font-family: monospace;
}

/* Range input */
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  background: white;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}



/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #aa00ff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

/* input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #aa00ff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
} */

/* input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #aa00ff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
} */

/* input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
} */

/* Input Track */




/* !!!!! */

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-16 19:9:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(10) scaleY(1) scaleX(1);
            transform: translateY(10) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(10) scaleY(1) scaleX(1);
            transform: translateY(10) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}